<aside class="control-sidebar control-sidebar-dark">
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li><a  data-toggle="tab"><i class="fa fa-gears"></i> Opciones</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="control-sidebar-home-tab">
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript:;">
                  <i class="menu-icon fa fa-question-circle bg-blue"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Ayuda</h4>
                  </div>
                </a>
              </li>
            </ul> 
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript:;">
                  <i class="menu-icon fa fa-sign-out bg-blue"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Cerrar Sesion</h4>
                  </div>                 
                </a>
              </li>
            </ul>
          </div>
        </div>
      </aside>
      <div class="control-sidebar-bg"></div>
