<section class="content">
    <h2>Agregar Horario Odontologico</h2>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Datos Del Odontologo</h3>
                </div>
                <div class="box-body">
                    <label><b>Numero Documento Identidad</b></label>
                    <div class="input-group">
                        <input class="form-control">
                        <span class="input-group-btn"><button class="btn btn-primary">Buscar</button></span>
                    </div>
                </div>
                <div class="box-footer">
                    <strong>Nombres:</strong>
                    <label></label>
                    <br>
                    <br>
                    <strong>Apellidos:</strong>
                    <label></label>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Horarios Atencion</h3>
                </div>
                <div class="box-body-table">
                    <table class="table table-borderred table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Fecha</th>
                                <th>Hora</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="box-footer">
                        <button id="btnAgregarCita" class="btn btn-primary" href="#agregarHorario" data-toggle="modal">Agregar Horario</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="agregarHorario" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3 class="modal-title"><i class="far fa-clock"></i>Agregar Horario Atencion</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Fecha:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input class="form-control" data-inputmask="'alias':'dd/mm/yyyy'" data-mask="">
                    </div>
                </div>
                <div class="bootstrap-timepicker">
                    <div class="form-group">
                        <label>Hora:</label>
                        <div class="input-group">
                            <input class="form-control timepicker">
                            <div class="input-group-addon">
                                <i class="fas fa-stopwatch"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer clearfix">
                <button class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
</div>
