<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"> Lista de Pacientes</h3>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-borderred table-hover">
                        <thead>
                            <tr>
                                <th>Tipo ID</th>
                                <th>Numero ID</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Direccion</th>
                                <th>Telefono</th>
                                <th>Edad</th>
                                <th>Fecha Nacimiento</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
